*{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

body, h1, h2, ul, p, div{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9fafc;
}


main{
    padding: 5px;
    margin: 5px;
}
h1{
    font-size: 13px;
}

h2{
    font-size: 24px;
}

li{
    margin: 5px 0;
  }

ul{
    list-style-type: none;
}

a {
    color: #69696a;
    text-decoration: none;
}

a:visited{
    color: #69696a;
    text-decoration: none;
}

p {
    margin: 10px;
}


.btn1{
    text-align: center;
    color: #FFF;
    background-color: #000;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.black{
    color: #000;
}

.header{
    padding: 10px;
    margin: 5px;
}

.left-border{
    border-left: 3px solid #69696a;
    padding: 0px;
}